In [2]:
import pandas as pd

In [3]:
airquality = pd.read_csv('airquality.csv')
airquality.head()

      site        date      o3    no    no2   pm10   so2
0  debw004  2018-01-01  1720.6   0.4   63.1   72.8  24.8
1  debw004  2018-01-02  1435.4   3.5  181.4  120.0  40.7
2  debw004  2018-01-03  1551.6   1.8   99.0  112.0  47.7
3  debw004  2018-01-04  1257.2   4.8  267.4   78.6  33.8
4  debw004  2018-01-05  1359.1  14.7  320.3   98.6  32.8

In [4]:
airquality.tail()

          site        date      o3   no     no2    pm10  so2
68606  desh058  2020-10-05  840.48  0.0  293.72  164.87  0.0
68607  desh058  2020-10-06  870.97  0.0  193.46  128.69  0.0
68608  desh058  2020-10-07  990.43  0.0  192.30  220.00  0.0
68609  desh058  2020-10-08  816.75  0.0  226.63  181.46  0.0
68610  desh058  2020-10-09  229.22  0.0   26.65   22.80  0.0